<h3>
    {{viewTitle}}
</h3>
<a href="http://localhost:3000/movie/list">View movie details</a>

<form action="/movie" method="post" >
    <div class="form-group">
        <lable>Title</lable>
        <input type="text" class="form-control" name="Title" placeholder="Title">
    </div>

    <div class="form-group">
        <lable>Director</lable>
        <input type="text" class="form-control" name="Director" placeholder="Director">
    </div>

    <div class="form-group">
        <lable>Year</lable>
        <input type="text" class="form-control" name="Year" placeholder="Year">
    </div>

    <div class="form-group">
        <lable>Rating</lable>
        <input type="text" class="form-control" name="Rating" placeholder="Rating">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info" > <i class="fa fa-database">Submit</i></button>
    </div>

    </form>
    //bjbj